:root {
    --body-bg: #ffffff;
    --nav-bg: #390b91;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    min-height: 200vh;
    margin: 0;
    font-size: 1rem;
    font-family: sans-serif;
    background: var(--body-bg);
    color: black;
    display: grid;
    grid-template-columns: 13rem 1fr;
  }
  
  a {
    text-decoration: none;
  }
  
  nav {
    position: sticky;
    top: 0;
    max-height: 100svh;
    background-color: var(--nav-bg);
    color: white;
  }
  
  nav div {
    width: 100%;
    height: 10%;
    font-size: 2rem;
    padding: 10px;
    background-color: var(--body-bg);
    color: black;
    font-weight: 600;
    text-align: center;
  }
  
  nav div img {
    width: 40px;
    margin-right: 3px;
  }
  
  nav .nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    gap: .5rem;
    padding-block: 3rem;
    font-size: 1rem;
  }
  
  nav .nav-list li {
    padding: .8rem 2rem;
  }
  
  nav .nav-list li.active {
    background-color: rgba(10, 13, 51, 0.7);
    position: relative;
  }
  
  .nav-list li.active::before {
    content: '';
    position: absolute;
    width: .3rem;
    height: 100%;
    right: 0;
    bottom: 0;
    background-color: rgba(246, 244, 250, 0.959);
    border-radius: 5px 0 0 5px;
  }
  
  nav .nav-list li i {
    padding: .2rem .3rem;
    margin-right: 7px;
    font-size: 1.5rem;
    border-radius: 4px;
    background-color: rgba(163, 138, 209, 0.1);
  }
  
  nav .nav-list li.active i {
    background-color: #390b91;
  }
  
  nav .nav-list a {
    text-decoration: none;
    color: white;
    position: relative;
    bottom: 6px;
  }
  
  main {
    background-color: rgba(246, 244, 250, 0.959);
  }
  
  header {
    height: 4rem;
    color: #110130a4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--body-bg);
  }
  
  header div:nth-of-type(1) h3 {
    position: relative;
    bottom:5px;
    left: 25px;
  }
  
  header div:nth-of-type(2) {
    display: flex;
    width: 25%;
    justify-content: space-between;
    margin-right: 1.5rem;
  }
  
  header div:nth-of-type(2) .notification {
    width: 35px;
    height: 35px;
    background-color: rgba(163, 138, 209, 0.5);
    position: relative;
    text-align: center;
    padding: 5px;
    margin-top: 10px;
    border-radius: 50%;
  }
  
  header div:nth-of-type(2) .notification i {
    font-size: 25px;
  }
  
  header div:nth-of-type(2) .notification span {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    background-color: red;
    color: white;
    font-size: 11px;
    width: .7rem;
    justify-content: center;
    text-align: center;
  }
  
  header div:nth-of-type(2) .userName {
    line-height: 0;
    text-align: right;
  }
  
  header div:nth-of-type(2) .userName h4 {
    font-size: 18px;
  }
  
  header div:nth-of-type(2) .userName p {
    font-size: 16px;
  }
  
  header div:nth-of-type(2) .logout i {
    font-size: 35px;
    color: red;
    padding-top: 10px;
  }
  
  .main-body {
    padding: 10px 1.5rem 10px 25px;
  }
  
  .main-body .welcome {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid grey;
    margin-bottom: 10px;
    line-height: 0;
  }
  
  .main-body .welcome span {
    font-weight: 600;
  }
  
  .main-body .welcome a {
    font-size: 16px;
    font-weight: 600;
    color: red;
  }
  
  .main-body .welcome a i {
    position: relative;
    top: 7px;
  }
  
  .row {
    background-color: var(--body-bg);
    height: 425px;
    padding: 2px 0 0 20px;
    border-radius: 10px;
    overflow-y: scroll;
  }
  
  .row::-webkit-scrollbar {
    width: 5px;
  }
  
  .row::-webkit-scrollbar-track {
    box-shadow: inset 0 0 15px rgba(230, 205, 205, 0.5);
  }
  
  .row::-webkit-scrollbar-thumb {
    background-color: #a59b9b;
    border-radius: 15px;
  }
  
  .wrapper {
    height: 84.5px;
    position: relative;
    align-content: center;
    border-bottom: 1px solid rgba(230, 205, 205, 0.5);
  }
  
  .wrap-position{
    width: 100%;
    height: 160px;
  }
  
  .spacer{
  width: 100%;
  height: 120px;
  border-bottom:  1px solid rgb(231, 229, 229);
  }
  
  .row i {
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 1px 1px 3px #667185;
    position: absolute;
    
  }

  /* for the arrow position */
  .down{
    top: 30px;
    right: 20px;
  }

  .up{
    top: 80px;
    right: 20px;
  }

  .row .col-md-2 {
    float: left;
    width: 15%;
    margin-right: 10px;
    margin-bottom: 20px;
    padding: 0 15px;
    font-weight: 500;
    border-left: 10px solid skyblue;
    line-height: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px #667185;
  }
  
  .row .form-m span:nth-of-type(1) {
    color: white;
    font-weight: 600;
    padding: 8px;
    border-radius: 50%;
    background-color: yellow;
  }
  
  .row .form-q span:nth-of-type(1) {
    color: white;
    font-weight: 600;
    padding: 8px;
    border-radius: 50%;
    background-color: rgb(7, 253, 27);
  }
  
  .row .form-n span:nth-of-type(1) {
    color: white;
    font-weight: 600;
    padding: 8px;
    border-radius: 50%;
    background-color: #390b91;
  }
  
  .row .form-ng span:nth-of-type(1) {
    color: white;
    font-weight: 600;
    padding: 8px;
    border-radius: 50%;
    background-color: #130685;
  }
  
  .row .form-a span:nth-of-type(1) {
    color: white;
    font-weight: 600;
    padding: 8px;
    border-radius: 50%;
    background-color: orangered;
  }
  
  .row .form-m span:nth-of-type(2),
  .row .form-q span:nth-of-type(2),
  .row .form-n span:nth-of-type(2),
  .row .form-ng span:nth-of-type(2),
  .row .form-a span:nth-of-type(2) {
    font-weight: 600;
    margin: 0 15px;
  }
  
  .row .col-m {
    border-left: 10px solid yellow;
  }
  
  .row .col-q {
    border-left: 10px solid rgb(7, 253, 27);
  }
  
  .row .col-n {
    border-left: 10px solid #390b91;
  }
  
  .row .col-ng {
    border-left: 10px solid #130685;
  }
  
  .row .col-a {
    border-left: 10px solid orangered;
  }
  
  .row .col-md-2 p:nth-of-type(1) {
    font-weight: 500;
  }
  
  .row .col-md-2 p:nth-of-type(2) {
    font-weight: 550;
    color: #110130a4;
  }
  
  .row .col-md-2 p:nth-of-type(3) {
    font-weight: 550;
  }